# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# PostgreSQL
DATABASE_URL=

# Aplicação
APP_ENV=development
APP_DEBUG=true

# Frontend autorizado para acessar a API
FRONTEND_URL=http://localhost:5173